body {
  background-color: rgb(238, 246, 253);
}

.top-nav-bar {
  background-color: rgb(173, 240, 209);
  padding: 10px;
  margin: -8px;
}

.top-nav-bar-links {
  border-right: solid 1px red; 
  margin-left: 1px;
  margin-right: 7px;
  display: inline;
}

.hover:hover {
  visibility: visible:
}

.center {
  text-align: center;
}

.sans-serif {
  font-family: sans-serif;
}

.top-heading {

}

.primary-colors {
  background-color: rgb(168, 233, 253);
}

.secondary-colors {
  background-color:
}



.top-border-radius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom-border-radius {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.left-border-radius {
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}

.right-border-radius {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
